.clients-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 170px;
    height: 92px;
}