.clients-title {
    margin-bottom: 15px;

    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
    @media screen and (min-width: 1200px){
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}