.modal{
    position: relative;
    padding: 40px;
    z-index: 3;

    @media screen and (min-width: 480px){
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    min-height: 609px;
    }
    @media screen and (min-width: 1200px){
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 528px;
    min-height: 581px;
    }
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-field{
    margin-bottom: 10px;
}
.modal-title{
    margin-bottom: 12px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}
.modal-lable{
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
}
.modal-wrap{
    position: relative;
}
