.page-header{
    background-color: var(--white-text-color);
    border: 1px solid #ECECEC;
    // padding: 32px 0;
    position: relative;
}
.site-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


// Nav
.menu__link{
    margin-bottom: 32px;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    @media screen and (min-width:768px){
    font-size: 14px;
    line-height: 1.14px;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    }
}
.menu__list{
    margin-bottom: 302px;
    @media screen and (min-width:768px){
    display: flex;
    margin-bottom: 0;
}
}
.menu__item{
    @media screen and (min-width:768px){
        &:not(:last-child){
            margin-right: 50px;
        }
    }
}
.menu__item:last-child{
    @media screen and (min-width:768px){
    margin-right: 84px;
    }
    @media screen and (min-width: 1200px){
    margin-right: 305px;
    }
}

.menu__link--current{
    color: var(--accent-color);
    position: relative;
@media screen and (min-width:768px){
        &::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    bottom: -1px;
    left: 0;
    border-radius: 2px;
}
}
}

// contact
.menu-contact{
    display: flex;
    flex-direction: column-reverse;
    @media screen and (min-width: 768px){
    flex-direction: column;
    }
    @media screen and (min-width: 1200px){
    flex-direction: row;
    align-items: center;
    }
    // margin-left: auto;
}
.contact__icon{
    @media screen and (max-width: 767px) {
        display: none;
    }
    margin-right: 10px;
    fill: currentColor;
    &:hover,
    &:focus{
    fill: currentColor;
}
}

.menu-contact__item:not(:last-child){
// margin-right: 50px;
}

.menu-contact__link {
    display: flex;
    align-items: center;

}

.menu-contact__link--tell{
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (min-width:768px){
    margin-bottom: 0;
    
    font-size: 12px;
    line-height: 1.17;
    color: inherit;
}

}

.menu-contact__link--mail{
    margin-bottom: 64px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    color: inherit;
    @media screen and (min-width:768px){
    font-size: 12px;
    margin-bottom: 10px;
}
    @media screen and (min-width:1200px){
        margin-bottom: 0;
        margin-right: 30px;
    }
}

.social__list{
    display: flex;
    @media screen and (min-width:768px){
        display: none;
    }
}



.social__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    padding: 10px;
    letter-spacing: 0.02em;

    color: var(--accent-color);

}

.social__item:not(:last-child)::after{
    content: "";
    width: 0;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}