.hero{
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    background-color: #C4C4C4;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob2x.jpg);
    }

    @media screen and (min-width:768px){
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab2x.jpg);
    }
    }
    
    @media screen and (min-width:1200px){
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
        @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk2x.jpg);
    }
    }
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 360px;
    

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--white-text-color);
    @media screen and ( min-width: 1200px ){
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }
}
// BTN
.button{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;

    &:hover,
    &:focus{
    color: var(--accent-color);
    background-color: var(--white-text-color);
}
}
