.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 400ms, visibility 400ms;
    padding: 93px 15px;
    overflow-y: scroll;
}
