.about-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.about-list-item{
    width: 270px;
}
.about-title{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.about-text{
    margin-top: 10px;
}