.btn__list{
    margin-bottom: 40px;
    @media  screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    }
    
    @media screen and (min-width: 768px){
        justify-content: center;
    }
    
}
.card-list{
    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: calc(100% - 30px / 2);
    }
    
}