.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: -15px ;

    @media screen and (min-width: 1200px){
        margin: 0;
    }

}

.clients-item {
    display: flex;
    justify-content: center;
    
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    width: calc((100% - 30px) / 2);
    margin: 15px 0;

    @media screen and (min-width: 768px){
        width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px){
        width: calc((100% - 150px) / 6);
        margin: 0;
    }
    &:hover,
    &:focus{
    border-color: var(--accent-color);
}
}


.clients-icon{
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .clients-link:hover &{
    fill: var(--accent-color);
}
    .clients-link:focus &{
    fill: var(--accent-color);
}
}

