.join{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    justify-content: flex-end;
    padding-bottom: 100px;
}
.join__title{
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.join__list{
    display: flex;
}

.join__link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    background-color: var(--accent-color);
}
}

.join__item:not(:last-child){
    margin-right: 10px;
}

.join__icon{
    fill: var(--white-text-color);
}